.input {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid var(--gray-700);
    background-color: var(--gray-500);
    outline: none;

    color: var(--gray-100);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-regular);

    &:focus {
        border: 1px solid var(--purple);
    }

    &::placeholder {
        color: var(--gray-300);
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-regular);
    }
}